body{
  background: #e3e3e3;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container{
  margin-top: 10%;
  display: inline-block;
}
canvas{
  background: #cecece;
  border: 1px solid #181818;
}

h1{
  display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;


}
